<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="font-size: 18px;"><p>Hola ${user.name}, hemos recibido tu solicitud, te contactaremos a la brevedad posible.</p>
        <h3 style="color: #007BFF;">Detalle de la Solicitud</h3>
                <table style="width: 100%; border-collapse: collapse; margin-top: 10px; margin-bottom: 50px;">
                    <thead>
                        <tr style="background-color: #f2f2f2;">
                            <th style="border: 1px solid #ddd; padding: 8px;">Producto</th>
                            <th style="border: 1px solid #ddd; padding: 8px;">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${dto.invoiceDetails
                          .map(
                            (detail) => `
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">${detail.name}</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">${detail.quantity}</td>
                            </tr>
                        `,
                          )
                          .join('')}
                    </tbody>
                </table>
                <p>Atentamente,<br >El quipo de Fromm Chile.</p>
                <img src="https://pub-873e7884cc3b416fa7c9d881d5d16822.r2.dev/FROMM_PACK%20large.jpg" alt="Fromm Chile" style="width: 500px; height: 100px;">
        </div>
</body>
</html>